.breadcrumb{
	margin-bottom: 0px;
}
.container-fluid{
	margin: 0px;
	padding: 0px;
}

header{
	height:70px;
	background:#e7e7e7;
}
footer{
	min-height:30px;
	background:#e7e7e7;
}
#sign-up-error{
	padding-bottom: 5px;
	margin-bottom: 10px;
}
.pswd-exist-success-msg{
	margin-top: 10 px;
	margin-bottom: 10 px;
}
.submit-btn-panel{
	min-height: 20 px;
}
#password-change-error{
margin-bottom: 10px;
}

.bordered{
	border:solid 1px #e7e7e7;
}

#content{
	min-height:200px;
	padding-top: 20px;
	padding-bottom: 20px;

}

.social-icon{
	font-size: 36px;
}
.fnm_error{
  border:2px solid red;
}
.social-row a:hover{
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
	text-decoration: none;
	color: #e7e7e7;
}

.social-icon.facebook:hover,.social-icon.twitter:hover,.social-icon.gplus:hover,.social-icon.linkedin:hover{
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
	text-decoration: none;
	color: #000000;
}

.social-icon.facebook{
	color: #44619D;
}
.social-icon.twitter{
	color: #4D9EBB;
}
.social-icon.gplus{
	color: #DC4A38;
	
}
.social-icon.linkedin{
	color: #1D87BD;
}

.confirmation-pg{text-align: center;}

.error_span{
	font-size:20px;
}
